.flex-containerA {
    position: absolute;
    left: 45%;
    top: 20%;
    display: flex;
} 
    .box {
        width: 75px;
        height: 75px;
        font-size: xx-large;
        font-weight: 700;
    }

    .box1  {
        @extend .box;
        position: absolute;
        background: darkgrey;
    }

    .box2 {
        @extend .box;
        position: absolute;
        background: grey;
    }

    .box3 {
        @extend .box;
        position: absolute;
        background: lightgrey;
    }

.flex-containerB {
    position: absolute;
    left: 45%;
    top: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-containerC {
    display: flex;
    @for $i from 0 to 3 {
        div:nth-child(#{$i +1}) {
            
            left: 45% * $i;
            top: 45% * $i;
        }
    }

}
