$main-bg-color:#152530;
$main-font-color:#f2b8c9;

.main-app{
  background: $main-bg-color;
  color: $main-font-color;
  padding: 1%;
  margin: 2%;
  margin-top: 5%;
  text-align: center;

  .cstInput{
    font-size: large;
  }

  .cstButton{
    font-size: large;
  }

  .pagination{
    margin-top: 5%;
    font-size: large;
  }

  .createButton{
    margin-top: 2%;
    margin-bottom: 2%;
    background: #293538;
    font-size: large;
    color: white;
    border-color: black;
    text-decoration: none;
    text-align: right;
    cursor: pointer;
  }
}

html {
    width: auto;
    height: 100%;
    background-color: $main-bg-color;
    color: $main-font-color;
}

.mid-app{
  margin-left: 5%;
  margin-top: 7%;
  color: $main-font-color;
  position: relative;
  background: $main-bg-color;
  font-size: large;
  text-align: center;
  top: 10%;
  width: 80%;

  .cstInput{
    font-size: large;
  }

  .cstButton{
    font-size: large;
  }

  .mid-table-username{
    margin-right: 5%;
  }
  .mid-table-bid{
    padding-left: 5%;
    text-align: left;
  }
}

.chat{
  margin-top: 2%;

  .chat-line{
    margin-top: 2%;
    color: white;
    text-align: left;
    font-size: large;
    padding-right: 2%;

    .par-pink{
      color: $main-font-color;
      margin: 0;
    }
    .par-yellow{
      color: #F8DE7E;
      margin: 0;
    }
  }
}
