$main-bg-color: white;

.main-app{
  background: $main-bg-color;
  padding: 1%;
  margin-top: 2%;
  margin-left: 10%;
  margin-right: 10%;

  input{
    font-size: 1.5vw;
  }
}

html {
  margin: auto 10px;
    width: auto;
    height: 100%;
    background-color: $main-bg-color
}

.mid-app{
  position: relative;
  background: $main-bg-color;
  font-size: 1.5vw;
  margin-left: 10%;
  top: 10%;
  width: 80%;

}

.main-table{
  text-align: left;
  width: 40%;


  td{
    min-width: 4%;
    }

  tr{
    font-size: 1.3vw;
  }
}
