$main-bg-color:#152530;
$main-font-color:#f2b8c9;

.navBar {

  font-size: medium;
  padding-right: 15%;
  padding-bottom: 2%;
  position: relative;
  background-color: $main-bg-color;
  border-bottom-style: solid;
  border-bottom-width: 0.5%;
  border-bottom-color: black;
  color: $main-font-color;
  width: 100%;
  height: 3%;

  .navElem{
      font-size: medium;
      margin-left: 5%;
      padding: 0.5%;
      border-color: grey;
      background-color: #293538;
      color: $main-font-color;
      text-decoration: none;
      border-style: solid;
      border-width: 0px;
  }

  .navElem2{
    font-size: medium;
    margin-left: 5%;
    padding: 0.5%;
    border-color: grey;
    background-color: #F8DE7E;
    color: $main-font-color;
    text-decoration: none;
    border-style: solid;
    border-width: 0px;
}

  
  .navButton {
  font-size: medium;
  padding-left: 5%;
  background: none;
  border: none;
  padding: 0;
  position: relative;
  color: $main-font-color;
  text-decoration: none;
  border-color: grey;
  border-style: solid;
  border-width: 0px;
  text-align: right;
  cursor: pointer;
  }

  .userData{
    font-size: medium;
    padding: 0.5%;
    padding-left: 5%;
    padding-top: 2%;
    color: $main-font-color;
    margin-left: 50%;
    margin-right: 30%;
    position: absolute;
    width: 20%;
    height: 5%;
    text-align: right;
  }
  
}


