$main-bg-color: white;

.main-app{
  background: $main-bg-color;
  padding: 20px;
  margin-top: 40px;
  margin-left: 10%;
  margin-right: 10%;

  input{
    font-size: 20px;
  }
}

html {
  margin: auto 10px;
    width: auto;
    height: 2000px;
    background-color: $main-bg-color
}

.mid-app{
  position: fixed;
  background: $main-bg-color;
  font-size: 20px;
  margin-left: 10%;
  top: 10%;
  width: 80%;


  .main-table{
    text-align: left;


    td{

      padding-right: 20px;
      }
      tr{
        font-size: 18px;
      }
      th{

      }
  }
}
